.event-box {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.event-info {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 700px;
}

.event-name {
    font-weight: bold;
    font-size: 25px;
}

.event-state {
    grid-row: 1;
    grid-column: 2;
}

.event-details {
    grid-row: 2;
    grid-column: 1;
}

.details-link {
    grid-row: 2;
    grid-column: 2;
}

.motivational-text {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-start;
}

.event-state {
    background-color: #0d9d58;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.details-link a {
    color: black;
    text-decoration: underline;
}

.event-additional-info {
    margin-top: 20px;
    /* Spans both columns */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: start;
    gap: 20px;
}

.time-left span {
    font-weight: bold;
}

.time-left {
    gap: 10px;
}

.time {
    display: flex;
    grid-row: 3;
    grid-column: 1;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.time span {
    font-weight: bold;
}

.join-button {
    border: 1px solid #0d9d58;
    grid-row: 3;
    grid-column: 2;
    border-radius: 5px;
    color: #0d9d58;
    padding: 8px 0px;
}

.submission-format span {
    font-weight: bold;
}

.prizes {
    margin-bottom: 10px;
    display: flex;
}

.prizes div {
    margin-right: 20px;
}

.prizes div span {
    font-weight: bold;
}

.challenge-buttons {
    display: flex;
    gap: 30px;
}

.challenge-buttons button {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px 35px;
    border: 1px solid #FFBA00;
    border-radius: 5px;
    cursor: pointer;
}


.hacker-guide a {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.themes-challenges {
    font-weight: bold;
    font-size: 20px;
}